//fonts
$regular-font: "Nunito", sans-serif;

//colors
$primary-color: #ffffff;
$background-sunny: #51b1db, #61c2f6, #44a4c1, #6dc6e1, #6ab9d1, #5cb7b1, #7cc6eb,
  #feffb8;
$background-cloudy: #454b4b, #6d7577, #6f8287, #648189, #849faa;
$default-background:  #ffeb3b, #74efff, #9c27b0;

//font-weight
$bold: 600;

$regular-radius: 10px;
$search-width-L: 22rem;
