@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import "./styles/mixins";
@import "./styles/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $regular-font;
  color: black;
  height: 100vh;
  background: linear-gradient(-45deg, $default-background);
  @include animated-background;
}

body.sunny {
  background: linear-gradient(-45deg, $background-sunny);
  @include animated-background;
}

body.cloudy {
  background: linear-gradient(-45deg, $background-cloudy);
  @include animated-background;
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.homepage_search-input {
  margin-top: 10%;
  width: 12rem;
  border-radius: $regular-radius;
  background: url(./assets/static-icons/search-icon.svg) no-repeat scroll 7px
      18px,
    #ffffffac;
  padding: 15px 5px 10px 20px;
  border: none;
  font-family: $regular-font;
  font-weight: $bold;

  @include tablet-s {
    width: $search-width-L;
  }

  @include tablet {
    width: $search-width-L;
  }

  @include laptop {
    width: $search-width-L;
  }

  @include desktop {
    width: $search-width-L;
  }

  &:focus {
    outline: none;
    background-color: $primary-color;
  }
}

.wrapper {
  @include regular-flexbox(column, wrap, center, center);
  height: 100%;

  &__container {
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.32);
    padding: 30px;
    border-radius: 20px;
    text-align: center;

    @include tablet-s {
      padding: 40px;
    }

    @include tablet {
      padding: 60px;
    }

    @include laptop {
      padding: 60px;
    }

    @include desktop {
      padding: 60px;
    }
  }

  &__header {
    color: white;
  }
}

.header {
  width: 100%;
  @include regular-flexbox(column, nowrap, flex-start);
  color: $primary-color;

  @include laptop {
    width: 80%;
  }

  @include desktop {
    width: 60%;
  }

  &__location {
    margin: 15px 0 0 20px;

    @include mobile-s {
      font-size: 20px;
    }
  }

  &__date {
    margin: 4px 0 10px 20px;

    @include mobile-s {
      font-size: 14px;
    }
  }

  &__search-input {
    margin-left: 20px;
    width: 20rem;
    border-radius: $regular-radius;
    background: url(./assets/static-icons/search-icon.svg) no-repeat scroll 7px
        7px,
      $primary-color;
    padding: 5px 5px 5px 20px;
    border: none;
    font-family: $regular-font;
    font-weight: $bold;
    margin-top: 3%;

    @include mobile-s {
      width: 15rem;
    }

    &:focus {
      outline: none;
    }
  }
}

.temp-stats {
  @include regular-flexbox(column, nowrap, center);
  width: 100%;
  gap: 20%;
  color: $primary-color;

  @include tablet-s {
    @include temp-stats-responsive(space-evenly);
  }

  @include tablet {
    @include temp-stats-responsive(center);
  }

  @include laptop {
    @include temp-stats-responsive;
    width: 80%;
  }

  @include desktop {
    @include temp-stats-responsive;
    width: 60%;
  }
}

.current-temperature {
  @include regular-flexbox(row, nowrap, space-around, center);
  text-align: center;

  @include tablet {
    justify-content: center;
  }

  &__container {
    @include regular-flexbox(column, nowrap, center);
    min-width: 170px;

    @include tablet-s {
      min-width: 0;
    }
  }

  &__degrees {
    font-size: 50px;

    @include mobile-s {
      font-size: 40px;
    }
  }

  &__description {
    font-size: 20px;

    @include mobile-s {
      font-size: 14px;
    }
  }

  &__weather-img {
    width: 150px;

    @include mobile-s {
      width: 140px;
    }

    @include tablet {
      margin-top: 20px;
    }

    @include laptop {
      width: 200px;
    }
    @include desktop {
      width: 200px;
    }
  }
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;

  @include mobile-s {
    font-size: 14px;
  }

  @include tablet-s {
    @include responsive-grid(0, 1rem, 1rem);
  }

  @include tablet {
    @include responsive-grid(1rem, 2rem, 3rem);
  }

  @include laptop {
    @include responsive-grid(1rem, 3rem, 3rem);
  }

  @include desktop {
    @include responsive-grid(1rem, 3rem, 5rem);
  }
}

.weather-forecast-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-top: 5%;
  }

  @include laptop {
    width: 80%;
    margin-top: 3%;
  }

  @include desktop {
    width: 60%;
    margin-top: 3%;
  }

  &__title {
    margin: 5px 0 0 20px;
    color: $primary-color;

    @include mobile-s {
      font-size: 14px;
    }
  }

  &__cards {
    @include regular-flexbox(row, nowrap, space-evenly, center);
    padding: 10px;
    flex-basis: auto;

    @include mobile-s {
      gap: 5px;
    }
  }
}

.weather-forecast-card {
  text-align: center;
  padding: 4px;
  border-radius: $regular-radius;
  background: $primary-color;
  flex: 0 1 18%;

  &__day {
    margin: 0;
  }

  &__degrees {
    margin: 0;
  }

  &__img {
    @include mobile-s {
      width: 40px;
    }
  }

  @include mobile-s {
    padding: 4px;
    font-size: 10px;
  }
}
