@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

@mixin mobile-s {
  @media (min-width: 280px) and (max-width: 320px) {
    @content;
  }
}

@mixin tablet-s {
  @media (min-width: 480px) and (max-width: 615px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 616px) and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  color: black;
  height: 100vh;
  background: linear-gradient(-45deg, #ffeb3b, #74efff, #9c27b0);
  animation: gradient-bg 20s ease infinite;
  background-size: 400% 400%;
  }

body.sunny { 
  background: linear-gradient(-45deg, #51b1db, #61c2f6, #44a4c1, #6dc6e1, #6ab9d1, #5cb7b1, #7cc6eb, #feffb8);
  background-size: 400% 400%;
  animation: gradient-bg 20s ease infinite;

}

body.cloudy {
  background: linear-gradient(-45deg, #454b4b, #6d7577, #6f8287, #648189, #849faa );
  background-size: 400% 400%;
  animation: gradient-bg 20s ease infinite;
  
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.homepage_search-input {
  margin-top: 10%;
  width: 22rem;
  border-radius: 10px;
  background: url(./assets/static-icons/search-icon.svg) no-repeat scroll 7px
      18px,
    #ffffff;
  padding: 15px 5px 10px 20px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 600;

  @include mobile-s {
    width: 15rem;
  }

  &:focus {
    outline: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  // width: 100vw;

  // @include tablet {
  //   margin-top: 5%;
  // }
  // @include laptop {
  //   margin-top: 5%;
  // }

  // @include desktop {
  //   margin-top: 5%;
  // }
}

.header {
  width: 100%;
  // border: 3px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ffffff;

  // @include tablet {
  //   margin-top: 5%;
  // }

  @include laptop {
    width: 80%;
  }

  @include desktop {
    width: 60%;
  }

  &__location {
    margin: 15px 0 0 20px;

    @include mobile-s {
      font-size: 20px;
    }
  }

  &__date {
    // align-self: flex-end;
    // margin: 0 10px 10px 0;
    margin: 4px 0 10px 20px;

    @include mobile-s {
      font-size: 14px;
    }
  }

  &__search-input {
    margin-left: 20px;
    width: 20rem;
    border-radius: 10px;
    background: url(./assets/static-icons/search-icon.svg) no-repeat scroll 7px
        7px,
      #ffffff;
    padding: 5px 5px 5px 20px;
    border: none;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    margin-top: 3%;

    @include mobile-s {
      width: 15rem;
    }

    &:focus {
      outline: none;
    }
  }
}

.temp-stats {
  width: 100%;
  // border: 3px solid yellow;
  display: flex;
  flex-direction: column;
  //   flex-direction: row; //ipad,laptop
  justify-content: center;
  gap: 20%;
  color: #ffffff;

  @include tablet-s {
    gap: 0;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @include tablet {
    flex-direction: row;
    gap: 0%;
    justify-content: center;
  }

  @include laptop {
    flex-direction: row;
    width: 80%;
    gap: 0%;
  }

  @include desktop {
    flex-direction: row;
    width: 60%;
    gap: 0%;
  }
}

.current-temperature {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;

  @include tablet {
    justify-content: center;
  }

  @include laptop {
    // flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 170px;

    @include tablet-s {
      min-width: 0;
    }
  }

  &__degrees {
    font-size: 50px;

    @include mobile-s {
      font-size: 40px;
    }
  }

  &__description {
    font-size: 20px;

    @include mobile-s {
      font-size: 14px;
    }
  }

  &__weather-img {
    width: 150px;

    @include mobile-s {
      width: 140px;
    }

    @include tablet {
      margin-top: 20px;
    }

    @include laptop {
      width: 200px;
    }
    @include desktop {
      width: 200px;
    }
  }
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;

  @include mobile-s {
    font-size: 14px;
  }

  @include tablet-s {
    gap: 0 1rem;
    border-left: 1px solid #ffffff73;
    padding-left: 1rem;
  }

  @include tablet {
    gap: 1rem 2rem;
    justify-items: inherit;
    text-align: inherit;
    border-left: 1px solid #ffffff73;
    padding-left: 3rem;
  }

  @include laptop {
    gap: 1rem 3rem;
    justify-items: inherit;
    text-align: inherit;
    border-left: 1px solid #ffffff73;
    padding-left: 3rem;
  }

  @include desktop {
    gap: 1rem 3rem;
    justify-items: inherit;
    text-align: inherit;
    border-left: 1px solid #ffffff73;
    padding-left: 5rem;
  }
}

.weather-forecast-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  // border: 3px solid green;

  @include tablet {
    margin-top: 5%;
  }

  @include laptop {
    width: 80%;
    margin-top: 3%;
  }

  @include desktop {
    width: 60%;
    margin-top: 3%;
  }

  &__title {
    margin: 5px 0 0 20px;
    color: #ffffff;

    @include mobile-s {
      font-size: 14px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-basis: auto;

    @include mobile-s {
      gap: 5px;
    }
  }
}

.weather-forecast-card {
  text-align: center;
  padding: 4px;
  border-radius: 10px;
  background: #ffffff;
  flex: 0 1 18%;

  &__day {
    margin: 0;
  }

  &__degrees {
    margin: 0;
  }

  &__img {
    @include mobile-s {
      width: 40px;
    }
  }

  @include mobile-s {
    padding: 4px;
    font-size: 10px;
  }
}
